* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: linear-gradient(to top left, #000, #00bbff);
    color: #000000;
  }
  
  .container, .counterBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .container {
    height: 100vh;
  }
  
  .counterBox {
    background-color: #ebfbff;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 10px 20px 40px #000;
  }
  
  .countNumbers h1 {
    font-family: "Orbitron", sans-serif;
    margin-bottom: 70px;
    font-size: 50px;
    font-weight: 500;
  }
  
  .buttons {
    display: flex;
    gap: 0 10px;
  }
  
  .buttons button {
    padding: 12px 30px;
    font-size: 1.1rem;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #00ddff;
  }
  
  .buttons button:first-child {
    background-color: red;
  }
  
  .buttons button:first-child:active {
    background-color: #db0000;
  }
  
  .buttons button:last-child {
    background-color: #00ff00;
  }
  
  .buttons button:last-child:active {
    background-color: #00d100;
  }
  
  .buttons button:nth-child(2):active {
    background-color: #00adc8;
  }
  
  @media (max-width: 425px) {
    .counterBox {
      padding: 30px 20px;
    }
  
    .countNumbers h1 {
      margin-bottom: 50px;
      font-size: 40px;
    }
  
    .buttons button {
      padding: 10px 26px;
      font-size: 1rem;
    }
  }  