*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to top left,rgb(0, 0, 0), rgb(0, 187, 255));
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.counterBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ebfbff;
    padding: 50px 50px;
    border-radius: 15px;
    box-shadow: 10px 20px 40px rgb(0, 0, 0);
}

.countNumbers>h1{
    font-family: "Orbitron", sans-serif;
    margin-bottom: 70px;
    font-size: 50px;
    font-weight: 500;
}

.buttons{
    display: flex;   
    gap: 0px 10px;
}

.buttons>button{
    padding: 12px 30px;
    font-size: 1.1rem;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: rgb(0, 221, 255);
}

.buttons>button:first-child{
    background-color: red;
}

.buttons>button:first-child:active{
    background-color: rgb(219, 0, 0);
}

.buttons>button:last-child{
    background-color: rgb(0, 255, 0);
}

.buttons>button:last-child:active{
    background-color: rgb(0, 209, 0);
}

.buttons>button:nth-child(2):active{
    background-color: rgb(0, 173, 200);
}



@media screen and (max-width: 425px) {

    .counterBox{
        padding: 30px 20px;
    }
    
    .countNumbers>h1{
        margin-bottom: 50px;
        font-size: 40px;
    }
    
    .buttons{
        display: flex;   
        gap: 0px 10px;
    }
    
    .buttons>button{
        padding: 10px 26px;
        font-size: 1.1rem;
    }
  }

  @media screen and (max-width: 0) {

    .counterBox{
        padding: 30px 30px;
    }
    
    .countNumbers>h1{
        margin-bottom: 50px;
        font-size: 40px;
    }
    
    .buttons{
        display: flex;   
        gap: 0px 10px;
    }
    
    .buttons>button{
        padding: 10px 26px;
        font-size: 1.1rem;
    }
  }